/* src/app/page.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Lora', serif;
  max-width: 100%;
  box-sizing: border-box;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
  color: black;
}

.camera {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-size: 32px;
}

.iconButton:hover {
  background-color: black;
  color: white;
}

.icon {
  font-size: 42px;
}

.buttonLabel {
  font-size: 1.2em;
  margin-top: 5px;
  text-align: center;
  color: black;
}

.fileInput {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.photoContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  max-width: 100%;
  align-items: center;
}

.photoWrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.photo {
  width: auto;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.textarea {
  padding: 10px;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 100px;
  background-color: white; /* Ensure white background */
  color: black; /* Set text color to black */
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.modalIconButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-size: 24px;
}

.modalIconButton:hover {
  background-color: black;
  color: white;
}

.modalIcon {
  font-size: 24px;
}

.modalButtonLabel {
  font-size: 1.2em;
  margin-top: 5px;
  text-align: center;
  color: black;
  white-space: pre-wrap;
  text-align: center;
}

.submitButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  font-size: 24px;
}

.submitButton:hover {
  background-color: black;
  color: white;
}

.submitButtonLabel {
  font-size: 1.2em;
  margin-top: 5px;
  text-align: center;
  color: black;
}

.fullImageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.fullImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.howItWorksOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

.howItWorksContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.howItWorksText {
  font-size: 1em;
  color: black;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }

  .button,
  .input,
  .textarea {
    max-width: 100%;
  }

  .actions {
    flex-direction: column;
  }
}
